body {
  font-family: sans-serif;
  max-width: 60vw;
  margin: auto;
  padding: 2rem;
  background-color: #DECADE;
  overflow-y: scroll;
}

mark {
  background-color: rgba(216, 255, 189, 0.5);
}

input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

a {
  color: #5d707d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #87929a;
}

.entry-grid {
  column-count: 1;
  column-gap: 1rem;
}

@media (min-width: 700px) {
  .entry-grid {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .entry-grid {
    column-count: 3;
  }
}

.entry {
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  background: #f9f9f9;
  padding: 1em;
  border-radius: 5px;
  box-sizing: border-box;
}

.entry img {
  flex-shrink: 0;
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 0.5rem;
}

.altnames {
  opacity: 0.6;
  font-style: italic;
}

.tag {
  cursor: pointer;
  color: #5d707d;
  font-weight: bold;
  margin-right: 10px;
}

.tag:hover {
  text-decoration: underline;
  color: #768996;
}